{% extends "base.html" %}
{% block "contentpath" %}
{% load static %}



<style>
    .checkbox-wrapper-21 .control {
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 18px;
      }
      .checkbox-wrapper-21 .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      .checkbox-wrapper-21 .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 18px;
        width: 18px;
        background: #e6e6e6;
      }
      .checkbox-wrapper-21 .control:hover input ~ .control__indicator,
      .checkbox-wrapper-21 .control input:focus ~ .control__indicator {
        background: #ccc;
      }
      .checkbox-wrapper-21 .control input:checked ~ .control__indicator {
        background: #2aa1c0;
      }
      .checkbox-wrapper-21 .control:hover input:not([disabled]):checked ~ .control__indicator,
      .checkbox-wrapper-21 .control input:checked:focus ~ .control__indicator {
        background: #0e647d;
      }
      .checkbox-wrapper-21 .control input:disabled ~ .control__indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
      }
      .checkbox-wrapper-21 .control__indicator:after {
        content: '';
        position: absolute;
        display: none;
      }
      .checkbox-wrapper-21 .control input:checked ~ .control__indicator:after {
        display: block;
      }
      .checkbox-wrapper-21 .control--checkbox .control__indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      .checkbox-wrapper-21 .control--checkbox input:disabled ~ .control__indicator:after {
        border-color: #7b7b7b;
      }
      :root {
        --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
        --gray: #34495e;
        --darkgray: #2c3e50;
      }
    </style>
<main>
    <div class="form-signin" style="margin-top: 20px;margin-left: 400px;">
        
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">ADD-MOVIE</h1>


            <div class="form-floating">
              <select class="form-control" id="floatingInput" style="margin-top: 10px;" name="theatreid">
                {% for data in theatres %}
                  <option value="{{data.id}}" >{{data.theatrename}}</option>
                {% endfor %}
              </select>
          </div>

            <div class="form-floating" style="margin-top: 10px;">
              
                <input type="text" class="form-control" id="floatingInput" placeholder="name" name="moviename">
                <label for="floatingInput">NAME</label>
            </div>
            
             
            <div class="form-floating" style="margin-top: 10px;">
                <textarea class="form-control" id="floatingInput" name="moviedescription"></textarea>
                <label for="floatingInput"> DESCRIPTION </label>
            </div>

            <div class="form-floating">
              <select class="form-control" id="floatingInput" style="margin-top: 10px;" name="movielanguage">
                  <option value="English" >English</option>
                  <option value="Hindi" >Hindi</option>
                  <option value="Tamil" >Tamil</option>
              </select>
            </div>

            <div class="form-floating">
              <select class="form-control" id="floatingInput" style="margin-top: 10px;" name="moviegenere">
                  <option value="None" >-</option>
                  <option value="Action" >Action</option>
                  <option value="Scifi" >Scifi</option>
                  <option value="Horror" >Horror</option>
                  <option value="Comedy" >Comedy</option>
              </select>
            </div>

            <div class="form-floating" style="margin-top: 10px;">
                <h6 style="color: white;">RATED</h6>

                  <div style="margin-top: 5px;" value = "RATED">
                    <input name="sensorrate" value="u" type="checkbox" >
                    <span style="color: #fff;">U</span>

                    <input name="sensorrate" value="ua" type="checkbox" >
                    <span style="color: #fff;">UA</span>
                  
                    <input name="sensorrate"  value="a" type="checkbox">
                    <span style="color: #fff;">A</span>

                    <input name="sensorrate"  value="s" type="checkbox">
                    <span style="color: #fff;">S</span>
                  </div>
            </div>


            <div style="margin-top: 10px;">
              <input type="file" name="image">
                <div>
                <img style="max-width: 100px; height: auto;">
                </div>
             </div>

            <button class="w-100 btn btn-lg btn-primary" style="margin-top: 10px;" type="submit">Add</button>
        </form>
        

    </div>
</main>

<script>
  let inpele = document.querySelector('input[type="file"]');
  let imge = document.querySelector('img');
  inpele.addEventListener('change', function () {
      let url = URL.createObjectURL(inpele.files[0]);
      imge.src = url;
      console.log(url);
  });
  </script> 



{% endblock %}