
{% extends "base_user.html" %}
{% block "userpath" %}
{% load static %}

<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CHOOSE YOUR MOVIES HERE</h5>
        <p class="card-text">book movies in my app</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Core app special</h5>
        <p class="card-text">Additional features coming soon keep it thrilled</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>   
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}