{% extends "base.html" %}
{% block "contentpath" %}
{% load static %}


<section>
            
    <!--for demo wrap-->
    <div>
    <h4 style="text-align: center;color: white; padding-bottom: 20px;">THEATRE-INTERNAL</H4>
       
    <div class="tbl-header">
        
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>SLNO</th>
            <th>BOOKED USER</th>
            <th>THETARE</th>
            <th>MOVIE</th>
            <th>BOOKING TIME</th>
            <th>STATUS</th>
            <th>IMAGE</th> 
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>

          {% for data in bookings %}            
          <tr>
            <td style="padding-left: 30px;">{{forloop.counter}}</td>
            <td style="padding-left: 10px;">{{data.userid.email}}</td>
            <td style="padding-left: 20px;">{{data.theatreid.theatrename}}</td>
            <td style="padding-left: 20px;">{{data.movieid.moviename}}</td>
            <td style="padding-left: 20px;">{{data.booking_time}}</td>
            {% if data.status == 0 %}
            <td><a href="/theatre_status_check/{{data.id}}" class="btn btn-outline-warning me-2">In Progress</a></td>
            {% elif data.status == 1 %}
            <td><a href="/theatre_status_check/{{data.id}}" class="btn btn-outline-success me-2">Approved</a></td>
            {% else %}
            <td><a href="/theatre_status_check/{{data.id}}" class="btn btn-outline-danger me-2">Rejected</a></td>
            {% endif %}

            {% if data.movieid.image %}
            <td><img src="/{{data.movieid.image}}" style="width: 100px; height: 150px"></td>
            {% else %}
            <td>no image</td>
            {% endif %}               
          </tr>
         

          {% endfor %}

        </tbody>
      </table>    
    </div>
    <a href="/theatre_movie_bookings" class="btn btn-outline-light me-2" style="margin-bottom : 20px;margin-top: 20px;">see bookings</a>
</div>
  </section>



{% endblock %}